/*
 * The div that contains the map image
 */
div#map {
  border: 5px solid black;
  position: relative;
}

img#map-img {
   display: block; 
}

img.user {
  position: absolute;  
}

html, body {
  padding: 0;
  margin: 0;
}
